.tab {
  position: relative;
  width: 33.3%;
  height: 50px;
}
.tab:first-child .tabLabel {
  border-radius: 5px 0 0 5px;
}
.tab:last-child .tabLabel {
  border-radius: 0 5px 5px 0;
}

.tabLabel,
.tabRadioInput {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.tabIsActive .tabLabel {
  background: #2196f3;
  color: #ffffff;
}

.tabLabel {
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: center;
  background: #ffffff;
  border: 1px solid #dfe5ec;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  user-select: none;
}

@media (max-width: 767px) {
  .tabLabel {
    font-size: 11px;
    line-height: 15px;
  }
}

.tab:not(.tabIsActive) .tabLabel:hover {
  color: #43536aa6;
}
/* .tabIsActive .tabLabel:hover {
    color: #d8cfcf;
} */

.tabRadioInput {
  z-index: 100;
  opacity: 0.011;
}
