.ticket {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.headBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.headBoxPrice {
    font-size: 24px;
    color: #2196F3;
}
.flightThereBox ul, 
.flightBackBox ul {
    display: flex;
    justify-content: space-between;
}
.flightThereBox ul {
    margin-bottom: 10px;
}